---
title: Ellie Hoshizaki | Web Developer & Designer
---

<%= partial "anchor-nav" %>

<div class="portfolio-header <%= piece_name%>"></div>

<h1><%= piece.title %></h1>

<p><%= piece.category %></p>

<div class="portfolio-description mobile-whole small-half medium-half large-half">
  <h1>Description</h1>
  <p><%= piece.description %></p>
</div>

<div class="portfolio-description mobile-whole small-half medium-half large-half">
  <h1>Tools Used</h1>
  <ul class="tools">
    <%= piece.tools %>
  </ul>
</div>

<%= image_tag "#{piece.image.url}", :class => "portfolio-full-image"%>
